<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cicoding.integration.mapper.UserMapper">

  <select id="selectAll" resultType="com.cicoding.integration.User">
     select * from user
     <if test="lists == 1 and lists.contains('-999')">
        where id = 1
     </if>
  </select>
</mapper>